<div class="content">
  You can download WASD Vision
  <a href="https://github.com/tstangel/WASD-Vision/releases/tag/1.1.0">here</a>.
  <br />
  <br />

  <h2>
    OBS Studio Instructions
  </h2>
  <ol class="instructions">
    <li>
      Open WASD Vision
    </li>
    <li>
      Right-click the purple tray icon and select Options
    </li>
    <li>
      Choose your favorite color and preferred keyboard layout
    </li>
    <li>
      In OBS click the plus icon under Sources and select Window Capture
    </li>
    <li>
      Enter a name and click OK
    </li>
    <li>
      Select WASD Vision as the Window and click OK
    </li>
    <li>
      Right-click on your new source and select Filters
    </li>
    <li>
      Click the plus icon and select Color Key
    </li>
    <li>
      Enter a name and click OK
    </li>
    <li>
      Select Custom Color as the Key Color Type
    </li>
    <li>
      Click Select color and enter the HTML value from the table below
      <br />
      <pre>
           HTML Code
Turquoise  #00FF00
Orange     #DAA520
Purple     #7B68EE
Black      #000000
Pink       #FF00FF
Green      #00FF00
Yellow     #FFD700
White      #D3D3D3
      </pre>
    </li>
    <li>
      Click OK and then Close
    </li>
    <li>
      Repeat steps 4-12 with the Mouse Vision window if you would like to show the mouse overlay
    </li>
    <li>
      Enjoy!
    </li>
  </ol>
  <br />
  <br />

  <h2>
    OBS Classic Instructions
  </h2>
  <ol class="instructions">
    <li>
      Open WASD Vision
    </li>
    <li>
      Right-click the purple tray icon and select Options
    </li>
    <li>
      Choose your favorite color and preferred keyboard layout
    </li>
    <li>
      In OBS right-click under sources, select Add, then click Window Capture
    </li>
    <li>
      Select WASD Vision as the Window
    </li>
    <li>
      Check the Use Color Key option
    </li>
    <li>
      Double-click on the square next to Color and enter the Red, Green, and Blue values from the table below
      <br />
      <pre>
           Red  Green  Blue
Turquoise  0    255    0
Orange     218  165    32
Purple     123  104    238
Black      0    0      0
Pink       255  0      255
Green      0    255    0
Yellow     255  215    0
White      211  211    211
      </pre>
    </li>
    <li>
      Click OK twice
    </li>
    <li>
      Repeat steps 4-8 with the Mouse Vision window if you would like to show the mouse overlay
    </li>
    <li>
      Enjoy!
    </li>
  </ol>
</div>
