<div class="content">
  <ul class="faq">
    <li>
      What does WASD Vision do?
    </li>
    <li>
      Displays an on-screen keyboard and mouse for video game streamers.
    </li>
    <li>
      Does it do anything else?
    </li>
    <li>
      No.
    </li>
    <li>
      Will this install anything on my computer?
    </li>
    <li>
      No.
    </li>
    <li>
      Will this keep track of what I type?
    </li>
    <li>
      No.
    </li>
    <li>
      Can I show the keyboard without the mouse?
    </li>
    <li>
      Yes. OBS recognizes the keyboard and mouse as separate windows.
    </li>
    <li>
      What if I accidentally type sensitive information while displaying WASD Vision?
    </li>
    <li>
      WASD Vision will pause for 30 seconds if you type the beginning of a protected word. You may add any words you'd like to protect to the protected words list. 
    </li>
    <li>
      How do I update the color, keyboard layout, or protected words?
    </li>
    <li>
      Right-click on the tray icon and select Options.
    </li>
    <li>
      How do I use this with OBS?
    </li>
    <li>
      You can find instructions on the
      <a ui-sref="download">Download page</a>.
    </li>
  </ul>
</div>
