<div class="demo">
  <div class="keyboard">
    <img class="key-one" src="images/demo/Style_Turquoise_One_Up.png" />
    <img class="key-two" src="images/demo/Style_Turquoise_Two_Up.png" />
    <img class="key-three" src="images/demo/Style_Turquoise_Three_Up.png" />
    <img class="key-four" src="images/demo/Style_Turquoise_Four_Up.png" />
    <div class="clear"></div>

    <img class="key-q" src="images/demo/Style_Turquoise_Q_Up.png" />
    <img class="key-w" src="images/demo/Style_Turquoise_W_Up.png" />
    <img class="key-e" src="images/demo/Style_Turquoise_E_Up.png" />
    <div class="clear"></div>

    <img class="key-a" src="images/demo/Style_Turquoise_A_Up.png" />
    <img class="key-s" src="images/demo/Style_Turquoise_S_Up.png" />
    <img class="key-d" src="images/demo/Style_Turquoise_D_Up.png" />
    <div class="clear"></div>

    <img class="key-z" src="images/demo/Style_Turquoise_Z_Up.png" />
    <img class="key-x" src="images/demo/Style_Turquoise_X_Up.png" />
    <img class="key-c" src="images/demo/Style_Turquoise_C_Up.png" />
    <div class="clear"></div>

    <img class="key-space" src="images/demo/Style_Turquoise_Space_Up.png" />
  </div>

  <div class="mouse">
    <img class="button-left" src="images/demo/Style_Turquoise_Left_Up.png" />
    <img class="button-right" src="images/demo/Style_Turquoise_Right_Up.png" />
    <img class="button-wheel" src="images/demo/Style_Turquoise_Wheel_Up.png" />
    <img class="button-thumb-forward" src="images/demo/Style_Turquoise_Thumb_Forward_Up.png" />
    <img class="button-thumb-back" src="images/demo/Style_Turquoise_Thumb_Back_Up.png" />
  </div>
</div>
